<div class="span3 single">
	<div class="card-outline">
		<div class="header" style="float:left">
	
			<% if !card.user.nil? and (card.user != current_user) %>
				<div class="title" style="width:165px; float:left" >
					<%= card.name %>
				</div>

				<div style="float:left; margin-left:5px">
					<%= link_to image_tag(card_pic(card.user), :width => "20px"), card_path( home_card(card.user) )%>
				</div>
			<% else %>
			<div class="title" >
				<%= card.name %>
			</div>
			<% end %>

			
		</div>
		<div class="links">
			<% if signed_in? %>
			<%= link_to 'O', card, :class => "open" %>
			<%= link_to 'E', edit_card_path(card), :remote => true, :class => "edit" %>
			<%= link_to 'D', card, confirm: "Are you sure you want to delete card #{card.name}?", method: :delete, :remote => true, :class => "delete" %>
			<%= link_to 'N', new_card_path( :parent_id => card.id ), :remote => true, :class => "new" %>
			<% end %>
		</div>
		<% if !card.description.empty? %>
				<div class="description">
					<%= card.description %>
				</div>	
				<% end %>
		<div class="grab-here"></div>
	</div>
</div>