<div class="span4 single">
	<div class="card-outline">
		<div class="header">
			<div class="header-inside">
				<div class="title">
				<%= card.name %>
				</div>
			</div>
		</div>
		<div class="links">
			<%= link_to 'O', card, :class => "open" %>
			<%= link_to 'E', edit_card_path(card), :remote => true, :class => "edit" %>
			<%= link_to 'D', card, confirm: 'Are you sure?', method: :delete, :remote => true, :class => "delete" %>
			<%= link_to 'N', new_card_path( :parent_id => card.id ), :remote => true, :class => "new" %>
		</div>
		
	</div>
</div>